.place__paragraph_item {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

.place__paragraph_item:last-of-type {
    padding-top: 25px;
}

@media screen and (max-width: 1023px) {
    .place__paragraph_item {
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph_item {
        width: 288px;
        margin: 0 auto 0 auto;
    }
}